void personas(){
  
     image(persona1, X, Y1, 40, 60);
     image(persona2, X + 150, Y2, 40, 60);
     image(persona3, X + 300, Y3, 40, 60);
     image(persona4, X + 450, Y4, 40, 60);
     image(persona2, X + 600, Y5, 40, 60);
     image(persona1, X + 750, Y6, 40, 60);
     image(persona4, X + 1000, Y7, 40, 60);
     image(persona3, X + 1150, Y8, 40, 60);
     image(persona1, X + 1300, Y9, 40, 60);
     image(persona4, X + 1450, Y10, 40, 60);
     image(persona2, X + 1600, Y11, 40, 60);
     image(persona4, X + 1750, Y12, 40, 60);
     image(persona3, X + 2000, Y13, 40, 60);
     image(persona1, X + 2150, Y14, 40, 60);
     image(persona2, X + 2300, Y15, 40, 60);
}

void randoms()
{
    Y1 = random(50,400);
    Y2 = random(50,400);
    Y3 = random(50,400);
    Y4 = random(50,400);
    Y5 = random(50,400);
    Y6 = random(50,400);
    Y7 = random(50,400);
    Y8 = random(50,400);
    Y9 = random(50,400);
    Y10 = random(50,400);
    Y11 = random(50,400);
    Y12 = random(50,400);
    Y13 = random(50,400);
    Y14 = random(50,400);
    Y15 = random(50,400);
}
